fastapi
llama-cpp-python
# For OpenWebUI integration using the OpenAI API
openai==1.16.1
openai-whisper
pyaudio
pyautogui
pynput
pyobjc-framework-ApplicationServices
pyobjc-framework-Quartz
pyperclip
python-dotenv
# These dependencies are not strictly required but enhance functionality
# For speech synthesis and assistant features
pyttsx3
requests
uvicorn
